<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.generator.dao.DatabaseConfigDao">
	
	<!-- resultMap -->
	<resultMap type="com.generator.domain.entity.DatabaseConfig" id="resultMap">
		<result property="id" column="id" />
		<result property="jdbcUrl" column="jdbc_url" />
		<result property="jdbcUser" column="jdbc_user" />
		<result property="jdbcPassword" column="jdbc_password" />
		<result property="jdbcDriver" column="jdbc_driver" />
		<result property="remarks" column="remarks" />
		<result property="databaseName" column="database_name" />
		<result property="databaseType" column="database_type" />
		<result property="projectConfigId" column="projectConfigId" />
		<result property="createDate" column="create_date" />
		<result property="updateDate" column="update_date" />
	</resultMap>

	<!-- 保存 -->
	<insert id="save" parameterType="com.generator.domain.entity.DatabaseConfig" useGeneratedKeys="true" keyProperty="id">
		insert into t_database_config (
			jdbc_url
			,jdbc_user
			,jdbc_password
			,jdbc_driver
			,remarks
			,database_name
			,database_type
			,projectConfigId
			,create_date
			,update_date
		)
		 values
		 (
			#{jdbcUrl}
			,#{jdbcUser}
			,#{jdbcPassword}
			,#{jdbcDriver}
			,#{remarks}
			,#{databaseName}
			,#{databaseType}
			,#{projectConfigId}
			,now()
			,now()
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="Integer">
		delete from t_database_config where id = #{id};
	</delete>
	
	<!-- 批量删除 -->
	<delete id="deleteByBatch"  parameterType="java.util.List">
		delete from
		t_database_config
		where id in
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</delete>
	
	<!-- 修改-->
	<update id="update" parameterType="com.generator.domain.entity.DatabaseConfig" >
		update t_database_config 
			set update_Date = now()
				,jdbc_url = #{jdbcUrl}
				,jdbc_user = #{jdbcUser}
				,jdbc_password = #{jdbcPassword}
				,jdbc_driver = #{jdbcDriver}
				,remarks = #{remarks}
				,database_name = #{databaseName}
				,database_type = #{databaseType}
				,projectConfigId = #{projectConfigId}
		where id = #{id}
	</update>
	
	<!-- 根据id获取对象-->
 	<select id="get" parameterType="Integer" resultMap="resultMap">
 		select 
				id
				,jdbc_url
				,jdbc_user
				,jdbc_password
				,jdbc_driver
				,remarks
				,database_name
				,database_type
				,projectConfigId
				,create_date
				,update_date
		 from t_database_config where id = #{id} 
		 order by id ,create_date desc limit 1;
 	</select>
 	
 	<!-- 通过Map单个查找-->
	<select id="getOneByMap" parameterType="Map" resultMap="resultMap">
		select 
				id
				,jdbc_url
				,jdbc_user
				,jdbc_password
				,jdbc_driver
				,remarks
				,database_name
				,database_type
				,projectConfigId
				,create_date
				,update_date
		 from
		t_database_config
		<where>
 			<if test="null != jdbcUrl and ''!= jdbcUrl">
			jdbc_url = #{jdbcUrl}
			</if>
			<if test="null != jdbcUser and ''!= jdbcUser">
			and jdbc_user = #{jdbcUser}
			</if> 
			<if test="null != jdbcPassword and ''!= jdbcPassword">
			and jdbc_password = #{jdbcPassword}
			</if> 
			<if test="null != jdbcDriver and ''!= jdbcDriver">
			and jdbc_driver = #{jdbcDriver}
			</if> 
			<if test="null != remarks and ''!= remarks">
			and remarks = #{remarks}
			</if> 
			<if test="null != databaseName and ''!= databaseName">
			and database_name = #{databaseName}
			</if> 
			<if test="null != databaseType and ''!= databaseType">
			and database_type = #{databaseType}
			</if> 
			<if test="null != createDate and ''!= createDate">
			and create_date = #{createDate}
			</if> 
			<if test="null != updateDate and ''!= updateDate">
			and update_date = #{updateDate}
			</if> 
			<if test="null != projectConfigId and ''!= projectConfigId">
			and projectConfigId = #{projectConfigId}
			</if> 
		</where>
		order by id ,create_date desc limit 1;
	</select>
	
	<!-- 列表查询 -->
	<select id="select" parameterType="Map" resultMap="resultMap">
 		select 
				id
				,jdbc_url
				,jdbc_user
				,jdbc_password
				,jdbc_driver
				,remarks
				,database_name
				,database_type
				,projectConfigId
				,create_date
				,update_date
 		 from t_database_config
 		<where>
 			<if test="null != jdbcUrl and ''!= jdbcUrl">
			jdbc_url = #{jdbcUrl}
			</if>
			<if test="null != jdbcUser and ''!= jdbcUser">
			and jdbc_user = #{jdbcUser}
			</if> 
			<if test="null != jdbcPassword and ''!= jdbcPassword">
			and jdbc_password = #{jdbcPassword}
			</if> 
			<if test="null != jdbcDriver and ''!= jdbcDriver">
			and jdbc_driver = #{jdbcDriver}
			</if> 
			<if test="null != remarks and ''!= remarks">
			and remarks = #{remarks}
			</if> 
			<if test="null != databaseName and ''!= databaseName">
			and database_name = #{databaseName}
			</if> 
			<if test="null != databaseType and ''!= databaseType">
			and database_type = #{databaseType}
			</if> 
			<if test="null != createDate and ''!= createDate">
			and create_date = #{createDate}
			</if> 
			<if test="null != updateDate and ''!= updateDate">
			and update_date = #{updateDate}
			</if> 
			<if test="null != projectConfigId and ''!= projectConfigId">
			and projectConfigId = #{projectConfigId}
			</if> 
 		</where>
 		order by id ,create_date desc;
 	</select>
 	
 	<!-- 分页查找 -->
	<select id="findByPage" parameterType="Map" resultMap="resultMap">
		select 
				id
				,jdbc_url
				,jdbc_user
				,jdbc_password
				,jdbc_driver
				,remarks
				,database_name
				,database_type
				,create_date
				,update_date
				,projectConfigId
 		 from t_database_config
 		<where>
 			<if test="null != databaseConfigVo.id ">
			id = #{databaseConfigVo.id} 
			</if>	
			<if test="null != databaseConfigVo.jdbcUrl and ''!= databaseConfigVo.jdbcUrl">
			and jdbc_url = #{databaseConfigVo.jdbcUrl}
			</if> 
			<if test="null != databaseConfigVo.jdbcUser and ''!= databaseConfigVo.jdbcUser">
			and jdbc_user = #{databaseConfigVo.jdbcUser}
			</if> 
			<if test="null != databaseConfigVo.jdbcPassword and ''!= databaseConfigVo.jdbcPassword">
			and jdbc_password = #{databaseConfigVo.jdbcPassword}
			</if> 
			<if test="null != databaseConfigVo.jdbcDriver and ''!= databaseConfigVo.jdbcDriver">
			and jdbc_driver = #{databaseConfigVo.jdbcDriver}
			</if> 
			<if test="null != databaseConfigVo.remarks and ''!= databaseConfigVo.remarks">
			and remarks = #{databaseConfigVo.remarks}
			</if> 
			<if test="null != databaseName and ''!= databaseName">
			and database_name = #{databaseName}
			</if> 
			<if test="null != databaseType and ''!= databaseType">
			and database_type = #{databaseType}
			</if> 
			<if test="null != databaseConfigVo.createDate and ''!= databaseConfigVo.createDate">
			and create_date = #{databaseConfigVo.createDate}
			</if> 
			<if test="null != databaseConfigVo.updateDate and ''!= databaseConfigVo.updateDate">
			and update_date = #{databaseConfigVo.updateDate}
			</if> 
			<if test="null != databaseConfigVo.projectConfigId and ''!= databaseConfigVo.projectConfigId">
			and projectConfigId = #{databaseConfigVo.projectConfigId}
			</if> 
 		</where>
 		order by id ,create_date desc   
 		<if test="null != page and '' != page and null != page.begin and null !=page.limit ">
 		 limit ${page.begin} , ${page.limit};
 		 </if>
	</select>
	
	<!-- 分页查找数量 -->
	<select id="findByPageCount" parameterType="Map" resultType="Integer">
		select count(1)  from t_database_config
 		<where>
 			<if test="null != databaseConfigVo.id ">
			id = #{databaseConfigVo.id} 
			</if>	
			<if test="null != databaseConfigVo.jdbcUrl and ''!= databaseConfigVo.jdbcUrl">
			and jdbc_url = #{databaseConfigVo.jdbcUrl}
			</if> 
			<if test="null != databaseConfigVo.jdbcUser and ''!= databaseConfigVo.jdbcUser">
			and jdbc_user = #{databaseConfigVo.jdbcUser}
			</if> 
			<if test="null != databaseConfigVo.jdbcPassword and ''!= databaseConfigVo.jdbcPassword">
			and jdbc_password = #{databaseConfigVo.jdbcPassword}
			</if> 
			<if test="null != databaseConfigVo.jdbcDriver and ''!= databaseConfigVo.jdbcDriver">
			and jdbc_driver = #{databaseConfigVo.jdbcDriver}
			</if> 
			<if test="null != databaseConfigVo.remarks and ''!= databaseConfigVo.remarks">
			and remarks = #{databaseConfigVo.remarks}
			</if> 
			<if test="null != databaseName and ''!= databaseName">
			and database_name = #{databaseName}
			</if> 
			<if test="null != databaseType and ''!= databaseType">
			and database_type = #{databaseType}
			</if> 
			<if test="null != databaseConfigVo.createDate and ''!= databaseConfigVo.createDate">
			and create_date = #{databaseConfigVo.createDate}
			</if> 
			<if test="null != databaseConfigVo.updateDate and ''!= databaseConfigVo.updateDate">
			and update_date = #{databaseConfigVo.updateDate}
			</if>
			<if test="null != databaseConfigVo.projectConfigId and ''!= databaseConfigVo.projectConfigId">
			and projectConfigId = #{databaseConfigVo.projectConfigId}
			</if>  
 		</where>
 		order by id ,create_date desc ;
	</select>

</mapper>