<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
		http://www.springframework.org/schema/aop
     	 http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		">
		
	<!-- 设置扫描Controller -->	
	<context:component-scan base-package="com.generator">
	</context:component-scan>	
	
	<!-- 强制使用cglib代理，如果不设置，将默认使用jdk的代理，但是jdk的代理是基于接口的 -->
	 <aop:aspectj-autoproxy proxy-target-class="true">
    </aop:aspectj-autoproxy>
		
		
	<!-- mvc注解设置 -->	
	<mvc:annotation-driven>
		<!-- 中文乱码解决 -->
		<mvc:message-converters register-defaults="true">
              <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                     <constructor-arg value="UTF-8" />
              </bean>
       </mvc:message-converters>
	</mvc:annotation-driven>
	
	<!-- 配置JSTL视图解析器 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" 
		p:prefix="/WEB-INF/page/" p:suffix=".jsp" />
	<mvc:resources location="/css/" mapping="/css/**" />
	<mvc:resources location="/images/" mapping="/images/**" />
	<mvc:resources location="/js/" mapping="/js/**" />
	<mvc:resources location="/admin/" mapping="/admin/**" />
	<mvc:resources location="/web/" mapping="/web/**" />
	<mvc:resources location="/upload/" mapping="/upload/**" />
	<mvc:resources location="/ueditor/" mapping="/ueditor/**" />
	
	<mvc:interceptors>
		<!-- 后台登录拦截器 -->
		<mvc:interceptor>
			<mvc:mapping path="/admin/center/**" />
			<mvc:exclude-mapping path="/admin/login"/>
			<mvc:exclude-mapping path="/admin/login/submit"/>
			<mvc:exclude-mapping path="/admin/logout"/>
			<bean class="com.generator.interceptor.LoginInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>
	
	
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="UTF-8" />
		<!-- 指定所上传文件的总大小不能超过10MB。注意maxUploadSize属性的限制不是针对单个文件，而是所有文件的容量之和 -->
		<property name="maxUploadSize" value="10000000" />
		<!--resolveLazily属性启用是为了推迟文件解析，以便在UploadController 中捕获文件大小异常 -->
		<property name="resolveLazily" value="true" />
	</bean>
	

</beans>
